/* Write your CSS here */

.button {
  color: #d4d2db;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  background-color: #382f5a;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  border-radius: 8px;
  width: 160px;
  height: 35px;
}

.list {
  margin-bottom: 10px;
}
